<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'First Name'" /></td>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Last Name'" /></td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Email'" /></td>
            <td><input type="email" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
