<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container">
        <div class="row justify-content-center align-items-center g-2"  >
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3" th:each="beer: ${beers}">
                <div class="card h-100">
                    <div class="container-fluid d-flex">
                        <img class="card-img-top mx-auto mt-2" th:src="${beer.getImageUrl()}" th:alt="${beer.getName()}" style="width: 75px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${beer.getName()}"/>
                        <p class="card-text" th:text="${beer.getDescription()}"/>
                        <a name="" id="" class="btn btn-primary" th:href="'http://localhost:8080/beers/'+${beer.getId()+'/info'}" role="button">Info</a>
                        <a name="" id="" class="btn btn-primary" th:href="'http://localhost:8080/beers/'+${beer.getId()+'/edit'}" role="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>